.cities__list {
    position: absolute;
    background-color: #F5F4F6;
    width: 320px;
    color: #292929;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 3px;
    z-index: 999;
    top: 110px;
    padding-left: 20px;
    box-sizing: border-box;
}

.city-item {
    cursor: pointer;
}