.place__btn {
    background-color: rgb(201, 200, 200);
    width: 28px;
    height: 60px;
    border-radius: 0px;
    border: none;
}

.place__btn.right {
    margin-right: 17px;
   
}

.place__btn.left {
    margin-right: 3px;
    margin-left: 17px;
}

.place__btn.available {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}