.header {
    position: relative;
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 980px;
    background-image: url('../../assets/header/image.png');
}


.header.trains {
  height: 620px;
  background-image: url('/src/assets/header/header-banner-next.png');
}

.header.pay {
  height: 620px;
  background-image: url('/src/assets/header/header-banner-next.png');
}

.header.places {
  height: 620px;
  background-image: url('/src/assets/header/header-banner-next.png');
}


.header.passengers {
  height: 620px;
  background-image: url('/src/assets/header/header-banner-next.png');
}

.header.success {
  height: 834px;
  background-image: url('/src/assets/header/success-banner.png');
}

.header__logo {
  margin-left: 250px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 900;
  line-height: 42.19px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header__logo:hover{
  color: white;
}

.header__menu-list {
  background-color: black;
  display: flex;
  height: 94px;
  align-items: center;
  padding-left: 250px;
  margin-top: 0;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  line-height: 35.16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.menu-link:hover {
  color: #FFA800;
}

.header__main{
  display: flex;
  justify-content: space-around;
}

.header__title {
  font-size: 60px;
  color: white;
  width: 506px;
  margin-bottom: 256px;
}

.header__title-item {
 
  font-weight: 100;
}

.header__title-span {
  font-weight: 800;
}