.feedback {
    padding-bottom: 80px;
    
}

.feedback-content {
    display: flex;
    justify-content: space-between;
}

.feedback-item {
    display: flex;
    width: 40%;
}

.feedback-item:first-child {
    margin-right: 50px;
}

.feedback-info {
    margin-left: 50px;
}

.feedback__text {
    font-size: 18px;
    color: #928F94;
    font-style: italic;
    font-weight: 300;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.feedback-img {
    margin-left: 45%;
    margin-top: 150px;
}